source_up_if_exists
dotenv_if_exists

use node
layout node

layout pipenv

# Set up project-specific AWS CLI configuration/credential files
export AWS_CONFIG_FILE=${AWS_CONFIG_FILE:-$PWD/.aws/config}
export AWS_SHARED_CREDENTIALS_FILE=${AWS_SHARED_CREDENTIALS_FILE:-$PWD/.aws/credentials}

export AWS_REGION=${AWS_REGION:-us-east-1}
export AWS_SDK_LOAD_CONFIG=1
