# AWS direnv directory-based configuration initialization
# Each subdirectory is expected to correspond to a desired AWS configuration profile
# Generates default .envrc and .env configuration files, if not found, that reference an AWS conifguration
# profile corresponding to subdirectory name
# Existing files are not overwritten

# Inherit parent configuration
source_up_if_exists

# Create a localstack configuration if localstack has been installed
# See: https://docs.localstack.cloud/user-guide/integrations/aws-cli/#configuring-a-custom-profile
if has localstack && [ ! -d localstack ]; then
	echo "Localstack installation found, creating and initializing localstack subdirectory..."
	mkdir localstack

	if ! aws configure list --profile localstack &> /dev/null; then
		# Create .env file with AWS environment variables to redirect CLI calls and use default localstack test credential
		echo "AWS profile 'localstack' not found, creating localstack .env file..."
		cat <<- EOF > "localstack/.env"
			export AWS_ENDPOINT_URL=http://localhost:4566
			export AWS_ACCESS_KEY_ID=test
			export AWS_SECRET_ACCESS_KEY=test
			export CDK=cdklocal
			# See: https://docs.localstack.cloud/user-guide/tools/lambda-tools/debugging/#debugging-nodejs-lambdas
			export LAMBDA_DOCKER_FLAGS='-e NODE_OPTIONS="--enable-source-maps --inspect-brk=0.0.0.0:9229" -p 9229:9229'
EOF
	fi

fi

# Initialize configuration for each subdirectory by generating a default .envrc and .env file
# that sources parent .envrc and sets AWS profile corresponding to the directory name, respectively
for dir in *; do
	if [ -d "$dir" ]; then

		# Create .envrc file if not found
		if [ ! -f "$dir/.envrc" ]; then
			echo "Creating .envrc file for ${dir##*/}..."
			cat <<- EOF > "$dir/.envrc"
			source_up_if_exists
			dotenv

			[ -n "\$AWS_PROFILE" ] && ! aws configure list --profile \$AWS_PROFILE &> /dev/null && echo "WARNING: AWS CLI configuration profile '\$AWS_PROFILE' not found"
EOF
			direnv allow "$dir/.envrc"
		fi

		# Create .env file if not found
		if [ ! -f "$dir/.env" ]; then
			AWS_PROFILE=${dir##*/}
			echo "Creating .env file for $AWS_PROFILE..."
			cat <<- EOF > "$dir/.env"
			export AWS_PROFILE=$AWS_PROFILE
EOF
		fi

	fi
done
